@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url('https://e0.pxfuel.com/wallpapers/132/352/desktop-wallpaper-razer-razer-razer-gaming-background-and-razer-snake.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: 90vmin;
    width: 92vmin; 
    /* min mtlb vw ya vh mese jo kam hoga, vmin usko assign hojaega, very good for responsiveness */
    background: linear-gradient( to right, green, beige);
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    /* 1fr: A flexible unit that divides the available space into proportional fractions.  */
    border-radius: 5px;
}

.head{
    background: linear-gradient(red, orange);
    transform: scale(1.15);
    border-radius: 5px;
    border: 1px solid black;
}

.snake{
    background: linear-gradient( rgb(19, 19, 139), rgb(122, 125, 189));
    border: 1px solid white;
}

.food{
    background-color: purple;
    border: 2px solid black;
    border-radius: 8px;
}

.score{
    position: absolute;
    font-size: 4vmin;
    left: 5vmin;
    top: 28vmin;
    font-weight: bold;
    color: white;
    /* font-family: "Noto Sans", serif; */
    font-family: "New Tegomin", serif;
}

.highestscore{
    position: absolute;
    font-size: 4vmin;
    left: 5vmin;
    top: 38vmin;
    font-weight: bold;
    color: white;
    /* font-family: "Noto Sans", serif; */font-family: "New Tegomin", serif;
}

.welcome{
    position: absolute; 
    /* position absolute krne se siblings ke layout ko kuch frk ni pdta  */
    color: white;
    font-size: 3.6vmin;
    left: 0.1vmin;
    top: 10vmin;
    font-family: "New Tegomin", serif;
}

.congrats{
    position: absolute;
    font-size: 1.7vmin;
    left: 1.8vmin;
    top: 58vmin;
    font-weight: bold;
    color: white;
    font-family: "New Tegomin", serif;
}